<div>
    <% if current_user %>
        <h1>Hello <%= current_user.name %>!</h1>
    <div>
    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <th>Complete/Incomplete</th>
                <th>Accepeted/Unaccepted</th>
                <th>Checkout Task</th>
            </tr>
            <% current_user.tasks.each do |task| %>
                <tr>
                    <td><%= task.title %></td>

                    <% if task.completed %>
                    <td class="text-success"><%= task.status %></td>
                    <% else %>
                    <td class="text-danger"><%= task.status %></td>
                    <% end %>

                    <% if task.user_accepted(current_user) %>
                    <td class="text-success">Accepted</td>
                    <% else %>
                    <td><%= link_to "Unaccepted", user_path(current_user), class: "text-warning" %></td>
                    <% end %>

                    <td><%= link_to "Checkout", user_task_path(current_user, task) %></td>
            <% end %>
            </tr>
        </tbody>
    </table>
    </div>

    <p><%= link_to "Log Out", logout_path %></p>
    
    <% else %>
        <div>    
            <h1>Welcome to Task Manager!</h1>
            
            <p class="text-secondary">We are here to help you organize your work-life.</p>
            
            <p class="text-secondary">Please signup or login below... </p>
        </div>
            <p><%= link_to "Sign Up", signup_path %></p>
            <p><%= link_to "Log In", login_path %></p>
            <p><%= link_to('Log in with Facebook!', '/auth/facebook') %></p>
    <% end %>
</div>

