<%= form_for(@task, url: {controller: 'tasks', action: 'update'}) do |f| %>

  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2 class="text-danger">
      <%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:
    </h2>

    <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :note %>
  <%= f.text_field :note %>
  <br>

  <%= f.submit class: "btn btn-primary" %>

<% end %>