<div >
<div>
    <h1><%= @task.title %></h1>
    <p>Note: <%= @task.note %></p>
    <p>Return to list: <%= link_to @task.list.title, list_path(@task.list) %></p>
    <p>Status: <%= @task.status %></p>
</div>
<div>
    <% if current_user.list_tasks(@task.list).include?(@task) %>
        <p><%= link_to "Change Title/Status", edit_user_task_path(@task) %></p>
    <% end %> 
    <p><b>Assign a User to this Task:<b></p>
    <%= form_for @task, url: {controller: 'tasks', action: 'update'} do |f|%>
        <%= collection_check_boxes(:task, :user_ids, User.all, :id, :name) %>
        <br>
        <%= f.submit "Assign Selected" %>
    <% end %>
    <p><b>Users Assigned to Task:<b></p>
    <% if @task.users %>
    <ul>
    <% @task.users.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
    </ul>
    <% end %>
</div>

    <% if @task.list.user == current_user %>
        <p>
            <%= form_for @task, method: :delete do |f|%>
                <%= f.submit "Delete Task" %>
            <% end %>
        </p>
    <% end %> 

</div>
