<h1><%= @task.title %></h1>
<p>Note: <%= @task.note %></p>
<p>Return to <%= link_to 'List', list_path(@task.list) %></p>
<h3>Status: <%= @task.completed ? "Complete" : "Incomplete" %></h3>

<% if current_user.list_tasks(@task.list).include?(@task) %>
    <h3><%= link_to "Change Title/Status", edit_user_task_path(@task) %></h3>
<% end %> 
<h3>Users Assigned to Task:</h3>
<% if @task.users %>
<ul>
<% @task.users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
<% end %>
</ul>
<% end %>

<% if @task.list.user == current_user %>
    <p>
        <%= form_for @task, method: :delete do |f|%>
            <%= f.submit "Delete Task" %>
        <% end %>
    </p>
<% end %> 
