<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1><%= @task.title %></h1>
            <% if @task.completed %>
                <p class="text-info"><span class="border border-success">Note: <%= @task.note %></span></p>
            <% else %>
                <p class="text-info"><span class="border border-danger">Note: <%= @task.note %></span></p>
            <% end %>
            <p class="text-secondary">Return to list: <%= link_to @task.list.title, list_path(@task.list) %></p>
            <% if !@task.completed %>
                <p class="text-info"><span class="text-danger">Status: <%= @task.status %></span></p>
            <% end %>

            <%= form_for(@task, url: {controller: 'tasks', action: 'update'}) do |f| %>
                
                <% if @task.completed %>
                <%= f.hidden_field :completed, value: false  %>
                <% else %>
                <%= f.hidden_field :completed, value: true %>
                <% end %>
                
                <%= f.submit @task.completed_label, class: @task.completed_klass %>

            <% end %>

        </div>
        <div class="col-sm">
            <% if current_user.list_tasks(@task.list).include?(@task) %>
                <p><%= link_to "Edit Task", edit_user_task_path(@task) %></p>
                <p><b>Assign a User to this Task:</b></p>

                <%= form_for @task, url: {controller: 'tasks', action: 'update'} do |f|%>
                    <%= collection_check_boxes(:task, :user_ids, User.all, :id, :name) %>
                    <br>
                    <%= f.submit "Update Assignments" %>
                <% end %>
            <% end %>
        <div class="p-3">
            <p><b>Users Assigned to Task:</b></p>

            <% if @task.users %>
                <ul>
                <% @task.users.each do |user| %>
                    <li>
                        |<%= link_to user.name, user_path(user) %>|
                        <br>
                        <% if user == current_user && !@user_task.accepted %>
                        
                        <%= form_for(@user_task, url: users_task_path(@user_task), method: :patch) do |f| %>

                            <%= f.hidden_field :accepted, value: true %>
                            <%= f.submit "Accept Task", class: 'text-warning' %>
                        
                        <% end %>
                        <% elsif @task.unaccepted_users.include?(user) %>
                            <span class="text-warning">Unaccepted</span>
                  
                        <% end %>
                    </li>
                <% end %>
                </ul>
            <% end %>
        </div>
        </div>
    </div>
        <% if @task.list.user == current_user %>
            <p>
                <%= form_for @task, method: :delete do |f|%>
                    <%= f.submit "Delete Task", class: "text-danger" %>
                <% end %>
            </p>
        <% end %> 
</div>





