<div>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2 class="text-danger">
                <%= pluralize(@user.errors.count, "error") %> prohibited an update from occuring:
            </h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div>
    <% if current_user == @user %> 
        <% unless @user.unaccepted_users_tasks.empty? %>
            <p class="text-warning"><b>ATTENTION NEEDED, please accept assigned tasks:</b></p>
                <table class="table">
                <tbody>
                <tr>
                    <th>Tasks</th>
                    <th>Accept</th>
                </tr>
                <% @user.unaccepted_users_tasks.each do |user_task| %>
                    <tr>
                        <td><%= link_to user_task.task.title, user_task_path(user_task.task) %></td>
                        <td>
                        <%= form_for(user_task, url: users_task_path(user_task), method: :patch) do |f| %>

                            <%= f.hidden_field :accepted, value: true %>
                            <%= f.submit "Accept Task" %>
                        <% end %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
                </table>
        <% end %>
    </div>
</div>

<div>
        <h1><%= @user.name %></h1>
        <p><%= link_to "Edit Info", edit_user_path(@user) %></p>
        <h2 class="text-secondary">Your Lists:</h2>
    <% else %>
        <h1><%= @user.name %>'s Page</h1>
        <h2 class="text-secondary">Their Lists:</h2>
    <% end %>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Title</th>
                    <th>Complete/Incomplete</th>
                    <th>Expand List</th>
                </tr>
                <% @user.lists.each do |list| %>
                    <tr>
                        <td><%= list.title %></td>
                    <% if list.list_complete? %>
                        <td class="text-success">Complete</td>
                    <% else %>
                        <td class="text-danger">Incomplete</td>
                    <% end %>
                    <td><%= link_to "Expand", user_list_path(@user, list) %></td>
                <% end %>
                </tr>
            </tbody>
        </table>
        <% if current_user == @user %>
            <p><%= link_to "New List", new_user_list_path(@user) %></p>
        <% end %>
    </div>

    <div>
    <% if current_user == @user %>
        <h2 class="text-secondary">Your Tasks:</h2>
        <% else %>
        <h2 class="text-secondary">Their Tasks:</h2>
    <% end %>
        <table class="table">
        
        <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <th>Complete/Incomplete</th>
                <th>Accepted/Unaccepted</th>
                <th>Checkout Task</th>
            </tr>
            <% @user.tasks.each do |task| %>
                <tr>
                    <td><%= task.title %></td>
                    <% if task.completed %>
                    <td class="text-success"><%= task.status %></td>
                    <% else %>
                    <td class="text-danger"><%= task.status %></td>
                    <% end %>

                    <% if task.user_accepted(@user) %>
                    <td class="text-success">Accepted</td>
                    <% else %>
                    <td class="text-warning">Unaccepted</td>
                    <% end %>
                    <td><%= link_to "Checkout", user_task_path(@user, task) %></td>
            <% end %>
            </tr>
        </tbody>
        </table>
    </div>
</div>