<h1><%= @user.name %></h1>

<div>
    <div>
    <h2>Your Lists:</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <th>Complete/Incomplete</th>
                <th>Expand List</th>
            </tr>
            <% @user.lists.each do |list| %>
                <tr>
                    <td><%= list.title %></td>
                <% if list.list_complete? %>
                    <td>Complete</td>
                <% else %>
                    <td>Incomplete</td>
                <% end %>
                <td><%= link_to "Expand #{list.title}", user_list_path(@user, list) %></td>
            <% end %>
            </tr>
        </tbody>
    </table>
    <p><%= link_to "New List", new_user_list_path(@user) %></p>
    </div>
    <div>
    <h2>Your Tasks:</h2>
    <table class="table">
    <tbody>
        <tr>
            <th>Title</th>
            <th>Complete/Incomplete</th>
            <th>Checkout Task</th>
        </tr>
        <% @user.tasks.each do |task| %>
            <tr>
                <td><%= task.title %></td>
                <td><% task.status %></td>
                <td><%= link_to "Checkout #{task.title}", user_task_path(task) %></td>
        <% end %>
        </tr>
    </tbody>
</table>
    </div>
</div>